
// alignment utility classes - based on Flexbox
.cd-flex {
  @apply .flex;
  //display: flex;

  > * {
    @apply .inline-block;
    //display: inline-block; // fallback
  }

  &--inline {
    @apply .inline-block; // Fallback
    @apply .inline-flex;
  }
}

.cd-flex--center {
  @apply .justify-center .items-center;
  //justify-content: center;
  //align-items: center;
}

.cd-flex--wrap {
  @apply .flex-wrap;
}

.cd-flex--grow > * {
  flex-grow: 1;
}

.cd-flex--shrink-none > * {
  flex-shrink: 0;
}

// set margin for children
.cd-flex-gap, .cd-flex-gap--md {
  > * {
    //margin-right: var(--space-md);
    @apply .mr-6;

    &:last-child {
      margin-right: 0;
    }
  }
}

.cd-flex--wrap.cd-flex-gap, .cd-flex--wrap.cd-flex-gap--md {
  margin-bottom: calc(-1 * config('margin.6'));

  > * {
    @apply .mb-6;
    //margin-bottom: var(--space-md);
  }
}

.cd-flex-gap--2xs {
  > * {
    @apply .mr-2;
    //margin-right: var(--space-2xs);

    &:last-child {
      margin-right: 0;
    }
  }
}

.cd-flex--wrap.cd-flex-gap--2xs {
  margin-bottom: calc(-1 * config('margin.2'));

  > * {
    @apply .mb-2;
    //margin-bottom: var(--space-2xs);
  }
}

.cd-flex-gap--xs {
  > * {
    @apply .mr-3;
    //margin-right: var(--space-xs);

    &:last-child {
      margin-right: 0;
    }
  }
}

.cd-flex--wrap.cd-flex-gap--xs {
  margin-bottom: calc(-1 * config('margin.2'));

  > * {
    @apply .mb-2;
    //margin-bottom: var(--space-xs);
  }
}

.cd-flex-gap--sm {
  > * {
    @apply .mr-4;
    //margin-right: var(--space-sm);

    &:last-child {
      margin-right: 0;
    }
  }
}

.cd-flex--wrap.cd-flex-gap--sm {
  margin-bottom: calc(-1 * config('margin.4'));

  > * {
    @apply .mb-4;
    //margin-bottom: var(--space-sm);
  }
}

.cd-flex-gap--lg {
  > * {
    @apply .mr-12;
    //margin-right: var(--space-lg);

    &:last-child {
      margin-right: 0;
    }
  }
}

.cd-flex--wrap.cd-flex-gap--lg {
  margin-bottom: calc(-1 * config('margin.12'));

  > * {
    @apply .mb-12;
    //margin-bottom: var(--space-lg);
  }
}

.cd-flex-gap--xl {
  > * {
    @apply .mr-24;
    //margin-right: var(--space-xl);

    &:last-child {
      margin-right: 0;
    }
  }
}

.cd-flex--wrap.cd-flex-gap--xl {
  margin-bottom: calc(-1 * config('margin.24'));

  > * {
    @apply .mb-24;
    //margin-bottom: var(--space-xl);
  }
}

// children
.cd-flex-item--end {
  align-self: flex-end;
}

.cd-flex-item--grow {
  flex-grow: 1;
}

.cd-flex-item--shrink-none {
  flex-shrink: 0;
}