
// IE fallback for CSS Grid
@mixin gridFallback($gap: null) {
  display: flex;
  flex-wrap: wrap;
  @if( $gap == null ) {
    $gap: config('margin.6');
  }

  margin: calc(#{$gap} * -1) 0 0 calc(#{$gap} * -1);

  > * {
    padding: #{$gap} 0 0 #{$gap};
    background-clip: content-box;
  }

  @supports (grid-area: auto) {
    margin: 0;

    > * {
      padding: 0;
      max-width: none!important;
    }
  }
}

@mixin column($width) {
  @if unit($width) != '%' {
    $width: $width * 100%;
  }
  flex-basis: #{$width};
  max-width: #{$width};
}

// --------------------------------

// Alt grid system - based on utility classes

// --------------------------------

$grid-columns: 12;

.cd-grid {
  display: flex;
  flex-wrap: wrap;
  margin: calc(config('margin.6') * -1) 0 0 calc(config('margin.6') * -1);

  > * {
    padding: config('margin.6') 0 0 config('margin.6');
    background-clip: content-box;
    flex-basis: 100%;
  }

  &--full-h {
    & > * {
      > * {
        @apply .h-full;
      }
    }
  }

  &--fit {
    > * {
      @apply .flex-1;
    }
  }
}

.cd-grid-gap--none {
  margin: 0;

  > * {
    padding: 0;
  }
}

.cd-grid-span--auto {
  > * {
    margin-right: auto;
  }
}

//.cd-grid-justify--between {
//  @apply .justify-between;
//}

.cd-grid-gap--xs {
  margin: calc(config('margin.3') * -1) 0 0 calc(config('margin.3') * -1);

  > * {
    padding: config('margin.3') 0 0 config('margin.3');
  }
}

.cd-grid-gap--sm {
  margin: calc(config('margin.4') * -1) 0 0 calc(config('margin.4') * -1);

  > * {
    padding: config('margin.4') 0 0 config('margin.4');
  }
}

.cd-grid-gap--lg {
  margin: calc(config('margin.12') * -1) 0 0 calc(config('margin.12') * -1);

  > * {
    padding: config('margin.12') 0 0 config('margin.12');
  }
}

.cd-grid-gap--xl {
  margin: calc(config('margin.24') * -1) 0 0 calc(config('margin.24') * -1);

  > * {
    padding: config('margin.24') 0 0 config('margin.24');
  }
}

@function round-width ($i) {
  //function used to round width to a number with 2 decimal places - used for IE fallback
  $width : floor(100 * $i * 100 / $grid-columns) / 100;
  @return $width#{"%"};
}

@for $i from 1 through $grid-columns {
  .col--#{$i} {
    flex-basis: round-width($i);
    max-width: round-width($i);
  }
}

@screen sm {
  @for $i from 1 through $grid-columns {
    .col--sm-#{$i} {
      flex-basis: round-width($i);
      max-width: round-width($i);
    }
  }
}

@screen md {
  @for $i from 1 through $grid-columns {
    .col--md-#{$i} {
      flex-basis: round-width($i);
      max-width: round-width($i);
    }
  }
}

@screen lg {
  @for $i from 1 through $grid-columns {
    .col--lg-#{$i} {
      flex-basis: round-width($i);
      max-width: round-width($i);
    }
  }
}

@screen xl {
  @for $i from 1 through $grid-columns {
    .col--xl-#{$i} {
      flex-basis: round-width($i);
      max-width: round-width($i);
    }
  }
}

//@screen 2xl {
//  @for $i from 1 through $grid-columns {
//    .col--2xl-#{$i} {
//      flex-basis: round-width($i);
//      max-width: round-width($i);
//    }
//  }
//}
//
//@screen 3xl {
//  @for $i from 1 through $grid-columns {
//    .col--3xl-#{$i} {
//      flex-basis: round-width($i);
//      max-width: round-width($i);
//    }
//  }
//}

