
.heading {
  @apply .inline-block;
}

.heading--lg {
  @apply .font-bold .text-xxl .text-black .tracking-wide;
  @apply .leading-extra-tight;

  &-mobile {
    @apply .text-3xl;
  }

  @screen lg {
    @apply .text-5xl;
  }

  @screen md {
    @apply .text-3xl .leading-tight;
  }
}

.heading--md {
  @apply .font-bold .text-grey-darkest .text-3xl .tracking-wide;

  &-mobile {
    @apply .text-xl;
  }

  @screen lg {
    @apply .text-2xl;
  }

  @screen md {
    @apply .text-xl;
  }
}

.heading--sm {
  @apply .font-medium .text-grey-darkest .text-xl;

  &-mobile {
    @apply .text-lg;
  }

  @screen lg {
    @apply .text-lg;
  }
}

.heading--xs {
  @apply .font-medium .text-grey-darkest .text-lg .leading-tight .tracking-wide;

  &-mobile {
    @apply .text-base .leading-normal;
  }

  @screen lg {
    @apply .text-base .leading-normal;
  }
}

.heading--bordered {
  @apply .relative .pl-6;
}

.heading--bordered::before {
  @apply .absolute .bg-reddish;
  top: 0;
  bottom: 2px;
  left: 0;
  width: 5px;
  content: "";
}

.heading-middleline {
  @apply .flex-grow .bg-yellow;
  @apply .ml-1;
  @apply .opacity-90;
  //width: 40%;
  height: 10px;

  @screen md {
    height: 5px;
  }

  @screen xs {
    @apply .hidden;
  }
}
