
.paragraph {
  @apply .text-black .leading-tight .tracking-wide;
}

.link {
  @apply .inline-block .font-medium .text-sm .text-black .tracking-wide;

  &:hover {
    @extend .link-hovered;
  }
}

.link-hovered {
  @apply .text-grey-darker;
}

.nav__link {
  @apply .inline-block .font-medium .text-sm .text-white .tracking-wide .no-underline;
  white-space: nowrap;

  &:hover {
    @extend .nav__link-hovered;
  }
  &:focus {
    outline: none;
  }
}

.nav__link-hovered {
  @apply .underline;
}

.nav__link--expanded {
  @apply .no-underline .pr-4;
  line-height: 1.2em;
}

.nav__link--expanded::before {
  @apply .bg-yellow;
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transform: scale3d(1,0,1);
  transform-origin: 50% 100%;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.nav__link--expanded:hover::before,
.nav__link--expanded:focus::before {
  transform: scale3d(1,1,1);
  transform-origin: 50% 0%;
}

.nav__link__arrow {
  @apply .ml-2;

  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 7px solid config("colors.black");
}

.info-text {
  @apply .text-black .font-bold .text-sm .tracking-wide;

  &-mobile {
    @apply .text-xs;
  }
}

.info-text--alt {
  @apply .text-grey .font-normal;
}

.no-wrap {
  white-space: nowrap;
}

