
.nav-wrapper {
  @apply .h-full;
}

.nav {
  @apply .flex .items-center .list-reset .h-full .uppercase;

  &--col {
    @apply .flex-col;
  }

  //@screen lg {
  //  @apply .fixed .pin-t .pin-r .flex-col;
  //  width: 200px;
  //  //TODO: make sure this is supported in browsers
  //  height: 100vh;
  //  background: #333;
  //  padding: 3.65em 2rem;
  //
  //  -webkit-transform: translateX(200px);
  //  -moz-transform: translateX(200px);
  //  -ms-transform: translateX(200px);
  //  -o-transform: translateX(200px);
  //  transform: translateX(200px);
  //}
}

.nav__item {
  @apply .relative;

  &:hover .nav__dropdown  {
    display: block;
  }

  & + .nav__item {
    @apply .ml-6;

    @screen xl {
      @apply .ml-4;
    }

    @screen lg {
      @apply .ml-0;
    }
  }

  @screen lg {
    @apply .ml-0 .mb-3;
  }
}

.main-header .nav__link {
  @apply .text-black;
}

.main-header--transparent .nav__link {
  @apply .text-white;
  & .nav__link__arrow {
    border-top: 7px solid config("colors.white");
  }
}

.nav__item > .nav__link {
  @apply .relative;
  @extend .nav__link--expanded;

  z-index: 10;
}

.nav__dropdown {
  @apply .list-reset .absolute .pt-8 .rounded-b;
  display: none;
  min-width: 100px;
  top: 0;
  left: 0;

  &__list {
    @apply .rounded-b;
  }

  & .nav__dropdown__item + .nav__dropdown__item {
    @apply .mt-2;
  }
}

.divider {
  @apply .my-4 .w-full .h-px;

  &--yellow {
    @apply .bg-yellow-light;
  }
}

.accordion {
  @apply .list-reset;
}

.accordion .inner {
  @apply .hidden .py-2 .px-6;
}

.accordion__item {
  @apply .bg-white mb-1;
}

.accordion__item .info-text {
  @apply .font-light;
}

.accordion__item__arrow {
  @apply .ml-2;

  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid config("colors.black");
}

.accordion__item.active .accordion__item__arrow {
  border-top: none;
  border-bottom: 9px solid config("colors.black");
}

.accordion__item .toggle {
  @apply .block .flex .items-center .justify-between .font-medium .py-2 px-3 .no-underline;
  @extend .paragraph;
}

// Vin Table

.vin-table {
  @apply .w-full .border-2 .border-grey-lighter;
  @extend .info-text--alt;
  border-spacing: 0;
  border-collapse: collapse;
}

.vin-table thead td {
  @apply .px-6 .py-4;
  @extend .info-text;
}

.vin-table tbody td {
  @apply .px-6 .py-1 .border-4 .border-white;
}

.vin-table tbody tr td {
  border-top: 0;
  border-bottom: 0;
}

.vin-table tbody tr td:first-child {
  border-left: 0;
}

.vin-table tbody tr td:last-child {
  border-right: 0;
}

.vin-table>tbody>tr:nth-of-type(odd) {
  @apply .bg-grey-lighter;
}

.exchanges-table {
  &__pairs-col-desktop {
    @screen lg {
      @apply .hidden;
    }
  }
  &__pairs-col-mobile {
    @apply .hidden .text-left;

    & .link {
      @apply .block .no-underline;
      background: transparent url("../images/common/ico-arrow-url.svg") no-repeat right center;
      background-size: 11px 16px;
    }

    @screen lg {
      @apply .table-cell;
    }
  }

  &__name-col {
    @screen lg {
      @apply .text-left;
    }
  }

  &__portal-col {
    @screen lg {
      @apply .hidden;
    }
  }

  @screen lg {
    @apply .border-none;
  }
}

// Timeline custom

.timeline-container {
  width: 100%;
  visibility: hidden;
}

.i-loaded .timeline-container {
  visibility: visible;
}

.timeline {
  @apply .flex .flex-row-reverse .justify-start .items-center;
  height: 600px;

  @screen xl {
    @apply .justify-center;
    height: auto;
  }
}

.timeline .timeline-list-container {
  width: 100%;
  max-width: 575px;
}

.timeline .timeline-list {
  @apply .my-4;
  width: 100%;
  //max-width: 600px;
  //max-width: 575px;
  height: 222px;

  @screen sm {
    height: 257px;
  }
}

.timeline-list-wrap {
  @apply .mx-auto;
  width: 100%;
  max-width: 450px;
}

.timeline .box-item {
  @apply .relative .rounded-lg .my-4;
  float: left;
  width: 100%;
  height: 190px;
  color: #000;
  background-color: #fff;

  opacity: 0.2;

  -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.26);

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

  &.slide-active {
    opacity: 1;
  }

  @screen sm {
    height: 225px;
  }

}

.timeline .box-item__inner {
  @apply .h-full .py-8 .px-15 .-mt-6 .bg-white .rounded-lg;
  overflow: auto;
  /* transform z-index hack */
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);

  @screen xl {
    @apply .p-6;
  }
}

.timeline .box-item::before {
  @apply .block .relative .bg-white .z-0;
  top: 39%;
  left: -15px;
  content: '';

  width: 30px;
  height: 30px;

  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);

  -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.26);

  @screen xl {
    @apply .invisible;
  }
}

.timeline__item__quartal {
  @apply .hidden;
  @extend .heading, .heading--sm;
  color: #d44539;
  @screen xl {
    @apply .block .mb-2 .leading-extra-tight;
  }
}

.timeline__item__header {
  @apply .mb-2;
  @extend .info-text;
}

.timeline__item__body {
  @extend .info-text, .info-text--alt;
}

.timeline-vertical .timeline-dots-wrap {
  @apply .z-50;
  width: 200px;
  //min-width: 250px;
}

.timeline-dots-wrap {
  @apply .flex;
  @apply .static;

  @screen xl {
    @apply .hidden;
  }
}

.timeline-dots-wrap::after {
  @apply .inline-block .mr-4 .border-r-4 .border-white .rounded-full;
  content: '';
  width: 0;
  height: 100%;
}

.timeline-vertical .timeline-dots{background:none}

.timeline-dots {
  max-width: 175px;
  top: 26%;
}

.timeline-dots li {
  @apply .relative .overflow-visible .py-2 .text-right .pr-6;
}

.timeline-dots li.slide-active {
  @apply .py-4;
}

.timeline-dots li::after {
  @apply .inline-block .rounded-full .bg-white;
  position: absolute;
  top: 37%;
  right: -0.45rem;
  content: '';
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.timeline-dots li.slide-active::after {
  @apply .border-8 .border-white;
  //background-color: rgba(212,69,57);
  background-color: rgb(255, 120, 0);
  //top: 23%;
  top: calc(50% - 15px);
  right: -17px;
  width: 30px;
  height: 30px;
}

.timeline-vertical .timeline-dots button {
  @apply .align-middle .text-white .text-right .p-0;
  @extend .nav__link;
  background: none;

  //-webkit-transition: all 0.3s ease-in-out;
  //-moz-transition: all 0.3s ease-in-out;
  //-o-transition: all 0.3s ease-in-out;
  //transition: all 0.3s ease-in-out;
}

.timeline-dots li.slide-active button {
  @apply .text-white;
  @extend .heading, .heading--sm;
}

//.timeline-controls {
//  @apply .relative;
//}

.timeline-controls__item {
  //@apply .flex .items-center .pl-6;
  @apply .pl-6;
  @apply .mx-auto;
  width: 100%;
  max-width: 450px;

  & .link {
    @apply .text-lg .text-white .align-middle;
  }

  & .control-text {
    @apply .ml-4;
  }
}

.timeline-controls__item .prev__icon {
  width: 36px;
  height: 36px;
  background: transparent url("../images/roadmap/ico_arrow_up.svg") no-repeat left top;
  background-size: 100% 100%;
  cursor: pointer;
}
.timeline-controls__item .next__icon {
  width: 36px;
  height: 36px;
  background: transparent url("../images/roadmap/ico_arrow_down.svg") no-repeat left top;
  background-size: 100% 100%;
  cursor: pointer;
}

//.timeline-controls .prev {
//  top: -160px;
//  left: 100px;
//}
//
//.timeline-controls .next {
//  top: 125px;
//  left: 100px;
//}

//.timeline-controls__item .next__icon {
//  -webkit-transform: rotate(180deg);
//  -moz-transform: rotate(180deg);
//  -ms-transform: rotate(180deg);
//  -o-transform: rotate(180deg);
//  transform: rotate(180deg);
//}

//.timeline-controls__item .link {
//  @apply .text-lg .text-white;
//}

.timeline-image-wrap {
  @apply .mr-auto;
  width: 420px;

  @screen xl {
    @apply .hidden;
  }
}

.timeline-image {
  @apply .list-reset;
}

.timeline-image__item {
  @apply .relative .text-white .font-bold .leading-none;
  display: none;
}

.timeline-image__item__year {
  @apply .block .absolute .text-extra-xxl .mb-4;
  top: 0;
  left: 10px;
}

.timeline-image__item__quart {
  @apply .block .text-mega-xxl .leading-extra-tight;
  opacity: 0.2;
}

.timeline-image__item__title {
  @apply .block .text-4.5xl .leading-extra-tight;
}

.timeline-image__item.slide-active {
  display: block;
}

// Tabs styles

.tabs__controls {
  @apply .list-reset .flex;
}

.tabs__controls li > a {
  @apply .h-full;
  display: block;
  text-decoration: none;
}

.tabs .tab {
  display: none;
  //overflow: hidden;
}

.tabs .tab.active {
  display: block;
}

// Contact Us modal

.contact-us {
  @apply .rounded-lg .shadow-grey-sm .text-center .px-0 .py-0;
  //max-width: 766px;

  background-image: linear-gradient(145deg, rgba(211, 47, 47, 0.9), rgba(255, 120, 0, 0.9));
  background-repeat: no-repeat;

  &__tabs {
    @apply .mx-auto;
    max-width: 766px;
    //.block-list-tabs .tabs__controls .tablist-inner {
    //  @apply .h-full .py-2;
    //  border-bottom: 1px solid #f6f4f6;
    //}

    & .tabs__controls {
      @apply .hidden;
      @apply .px-12 .mb-5;

      & .tabs__controls__item {
        @apply .relative .text-center .border-2 .border-yellow-light .bg-transparent .z-10;
        width: 300px;
        & .link {
          @apply .text-white .leading-none .px-4 .py-2;
        }
        &.active {
          @apply .bg-yellow-light;
          &::before {
            @apply .block .absolute .bg-yellow-light;
            left: calc(50% - 9px);
            bottom: -11px;
            content: '';
            z-index: -1;

            width: 20px;
            height: 20px;

            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Safari */
            transform: rotate(45deg);
          }
          & .link {
            @apply .text-black;
          }
        }

        &-left {
          @apply .border-r-0;
        }
        &-right {
          @apply .border-l-0;
        }
      }

      @screen lg {
        @apply .flex;
      }

      @screen sm {
        @apply .px-10;
      }

      @screen xs {
        @apply .px-5;
      }
    }

    & .tab {
      @apply .flex .flex-col;

      &.active {
        @apply .flex;
      }

      @screen lg {
        @apply .hidden;
        min-height: 357px;
      }
    }

    @screen lg {
      max-width: 380px;
      //min-height: 669px;
    }
  }

  //@screen lg {
  //  max-width: 380px;
  //  //min-height: 669px;
  //}

  @screen sm {
    @apply .w-full .h-full .fixed .pin-t .pin-x .m-0 .pt-17 .pb-6 .rounded-none .shadow-none;

    & .fancybox-close-small {
      @apply .hidden;
    }
  }
}

//@media (max-width: 480px) {
//  .contact-us {
//    @apply .px-8 .mx-4;
//    max-width: 400px;
//  }
//}

.contact-us__header {
  @apply .w-full .text-white .pt-18 .pb-16 .px-6;
  @extend .heading, .heading--md;

  background: url("../images/contact-us/img-message-form.svg") no-repeat center 25px;
  background-size: 180px 129px;

  @screen lg {
    @apply .pt-14 .pb-12 .px-6;
    background-size: 122px 87px;
  }
}

.contact-us__body {
  @apply .flex .pb-8;

  & .contact-us-form {
    & .form-btns {
      @apply .flex .justify-center .mt-6;
      & .btn {
        @apply .px-4;
        @screen lg {
          @apply .min-w-130;
        }
        @screen xs {
          @apply .min-w-120;
        }
      }
      @screen lg {
        @apply .justify-between;
      }
      @screen xs {
        @apply .justify-around;
      }
    }
  }

  & .separator {
    @screen lg {
      @apply .hidden;
    }
  }

  &__col-form {
    @apply .w-1/2 .pl-14 .pr-12 .text-left;

    @screen lg {
      @apply .w-full .px-12;
    }

    @screen sm {
      @apply .px-10;
    }

    @screen xs {
      @apply .px-5;
    }
  }

  &__col-info {
    @apply .w-1/2 .flex .flex-col .pl-14 .pr-12 .text-left;

    & .social-links--sm {
      & .social-link-group:hover, & .social-link-group:active {
        & .links-hidden {
          & .icon-medium__en {
            @apply .p-0 .pt-2;
            top: 111px;
            left: 0;
          }
          & .icon-medium__vn {
            @apply .p-0 .pt-2;
            top: 71px;
            left: 0;
          }
          & .icon-medium__ru {
            @apply .p-0 .pt-2;
            top: 31px;
            left: 0;
          }
        }
      }
    }

    @screen lg {
      //@apply .hidden;
      @apply .w-full .px-12;
    }

    @screen sm {
      @apply .px-10;
    }

    @screen xs {
      @apply .px-5;
    }
  }
}

.contact-us-form .form__holder {
}

.contact-us .success-msg-wrapper {
  @apply .px-38 .pb-8;
  @screen sm {
    @apply .px-10 .mx-auto;
    max-width: 270px;
  }
  @screen xs {
    @apply .px-5;
  }
}

.contact-us .success-msg__img {
  @apply .mx-auto .mb-12;
  width: 162px;
  height: 162px;
  background: url("../images/contact-us/ico-message-sent.svg") no-repeat center top;
  background-size: 100% 100%;
}

.fancybox-close-small {
  width: 57px;
  height: 57px;

  &:after {
    @apply .font-thin .text-2xl .text-white .border .border-white;
    width: 26px;
    height: 26px;
    top: 15px;
    right: 15px;

    line-height: 25px;
  }
}

.panel {
  @apply .overflow-hidden .bg-white .border .border-grey-lighter .shadow-grey-xs .rounded-lg .mb-8;
}

.panel-section__title {
  @apply .px-4 .py-6 .bg-white-darker;
}

.social-links {
  @apply .flex .items-center .flex-wrap .text-white;

  & .social-link + .social-link, & .social-link-group {
    @apply .ml-3;
  }

  & .social-link {
    & > a {
      width: 41px;
      height: 41px;
      @apply .block;

      &:hover {
        @apply .text-yellow;
        //color: #ffeb3b;

        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }

  }

  & .social-link-group {
    @apply .relative;

    & .icon-medium__main {
      @apply .z-50;
    }

    & .links-hidden {
      & .social-link {
        @apply .absolute .pin-t .pin-l .p-0 .m-0 .opacity-0 .z-10;

        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover, &:active {
      & .links-hidden {
        & .icon-medium__en {
          @apply .pb-4 .px-0 .opacity-100;
          left: 0;
          top: -171px;
        }
        & .icon-medium__vn {
          @apply .pb-4 .px-0 .opacity-100;
          left: 0;
          top: -114px;
        }
        & .icon-medium__ru {
          @apply .pb-4 .px-0 .opacity-100;
          left: 0;
          top: -57px;
        }
      }
    }
  }

  &--vertical {
    @apply .flex .flex-col .p-2 .rounded-full .shadow-grey-sm;

    & .social-link + .social-link, & .social-link-group {
      @apply .ml-0 .mt-3;
    }

    & .social-link-group {
      & .links-hidden {
        & .social-link {
          @apply .p-0;
        }
      }

      &:hover, &:active {
        & .links-hidden {
          & .icon-medium__en {
            @apply .pr-4 .py-0;
            top: 0;
            left: -171px;
          }
          & .icon-medium__vn {
            @apply .pr-4 .py-0;
            top: 0;
            left: -114px;
          }
          & .icon-medium__ru {
            @apply .pr-4 .py-0;
            top: 0;
            left: -57px;
          }
        }
      }
    }

    background-image: linear-gradient(to top, rgba(217,36,36, .75), rgba(215,80,6, .75), rgba(255,120,0, .75));
    //background-image: linear-gradient(145deg, rgba(211, 47, 47, .9), rgba(255, 120, 0, .9));
    background-repeat: no-repeat;
    //background-position: left top;
    background-size: cover;

    @screen xs {
      @apply .p-0 .shadow-none;
      background-image: none;
    }
  }

  &--sm {
    & .social-link-group {
      @apply .ml-0;

      & .links-hidden {
        & .social-link {
          @apply .p-0;
        }
      }

      &:hover, &:active {
        & .links-hidden {
          & .icon-medium__en {
            @apply .pb-2;
            left: 0;
            top: -120px;
          }
          & .icon-medium__vn {
            @apply .pb-2;
            left: 0;
            top: -80px;
          }
          & .icon-medium__ru {
            @apply .pb-2;
            left: 0;
            top: -40px;
          }
        }
      }
    }
    & .social-link {
      @apply .mb-2 .mr-2;
      & > a {
        width: 32px;
        height: 32px;
      }

      & + .social-link {
        @apply .ml-0;
      }
    }
  }
}

.separator {
  @apply .bg-black .opacity-25 .rounded-t-full;
  width: 4px;
}

.cards {
  @apply .flex .flex-wrap .justify-around .items-stretch;
  &--red .card__inner {
    @extend .bg-red-gradient;
  }
  & .card {
    @apply .mb-4;
    width: 250px;

    & > a {
      @apply .block .w-full .h-full;
      outline: none;
    }

    & .card__inner {
      @apply .text-center .rounded-lg .px-8 .py-12;
      @apply .flex .flex-col .items-center .justify-center;
      min-height: 300px;

      & .card__overlay {
        @apply .absolute .pin-t .pin-l .w-full;
        min-height: 300px;

        @screen md {
          min-height: 250px;
        }

        //@screen sm {
        //  min-height: 200px;
        //}
      }

      //& .card__body {
      //  min-height: 150px;
      //}

      @screen md {
        min-height: 250px;
      }

      //@screen sm {
      //  min-height: 200px;
      //}
    }

    & .card__body > * {
      @apply .mb-4;

      @screen sm {
        @apply .mb-3;
      }
    }
    & .card__img {
      @apply .block .mx-auto;
    }
    & .card__title {
      @apply .text-white;
      @extend .heading, .heading--sm;

      @screen sm {
        @apply .text-base;
      }
    }
    & .card__desc {
      @apply .font-normal .text-white;
      @extend .info-text;

      @screen sm {
        @apply .text-xs .leading-tight;
      }
    }


    //@screen lg {
    //  @apply .w-2/5;
    //}
    //
    //@screen sm {
    //  @apply .py-8;
    //}

    @screen md {
      min-height: 250px;
    }

    //@screen sm {
    //  min-height: 200px;
    //}
  }

  &--flipped {
    & .flip-wrap {
      width: 100%;
      height: 100%;
      float:left;
      -webkit-transform-style:preserve-3d;
      -moz-transform-style:preserve-3d;
      transform-style:preserve-3d;
      -webkit-perspective: 1000px;
      perspective: 1000px;
    }
    & .front, & .back {
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility:hidden;
      -moz-backface-visibility:hidden;
      backface-visibility:hidden;
    }
    & .back {
      width: 100%;
      height: 100%;
      position:absolute;
      top:0;
      left:0;
    }
    & .front {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    & .back {
      & .card__inner {
        background-image: linear-gradient(145deg, rgba(211, 47, 47, 0.9), rgba(255, 120, 0, 0.9));
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
      }
      -webkit-transform:rotateY(180deg);
      -moz-transform:rotateY(180deg);
      transform:rotateY(180deg);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    & .card__body {
      -webkit-transform: translateZ(60px);
      transform: translateZ(60px);
      -webkit-perspective: inherit;
      perspective: inherit;
    }
    & .card:hover .front,
    & .card:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    }
    & .card:hover .back{
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }

    & .card:hover .front{
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    //& .card:hover .flip-wrap {
    //  -webkit-transform:rotateY(180deg);
    //  -moz-transform:rotateY(180deg);
    //}
  }

  //@screen lg {
  //
  //}
  //
  //@screen md {
  //
  //}
}


.media-cards {
  @apply .absolute .w-full .justify-center .z-50 .mb-10;
  top: -60px;
  outline: none;
  & .card {
    @apply .mr-4 .bg-white .overflow-hidden;
    width: 280px;
    height: 160px;
    min-height: 160px;
    -webkit-box-shadow: 0 15px 29px 0 rgba(0, 0, 0, 0.31);
    box-shadow: 0 15px 29px 0 rgba(0, 0, 0, 0.31);

    // test
    //border-width: 2px;
    //border-color: #ce2121c2;

    & > a {
      @apply .relative .no-underline .overflow-hidden;
      background-color: #777;
      //background-color: rgba(211, 47, 47, 0.9);
      // For testing
      //background-color: rgb(198, 198, 198);

      //background-image: linear-gradient(145deg, rgba(211, 47, 47, 0.9), rgba(255, 120, 0, 0.9));
      //background-repeat: no-repeat;
      //background-position: left top;
      //background-size: cover;

      //background-color: #f7f6f6;

    }

    &:hover {
      //@apply .shadow-grey-spread-lg;

      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);

      //& > a {
      //  background-image: linear-gradient(145deg, rgba(211, 47, 47, 0.9), rgba(255, 120, 0, 0.9));
      //  background-repeat: no-repeat;
      //  background-position: left top;
      //  background-size: cover;
      //}

      & .media-cards__inner {
        background-color: transparent;
        background-image: linear-gradient(145deg, rgba(211, 47, 47, 0.9), rgba(255, 120, 0, 0.9));
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
      }

      & .media-cards__overlay {
        //opacity: 0;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        //background-color: rgba(174, 56, 51, 0);

        //-webkit-transform: translateX(-500px);
        //transform: translateX(-500px);

        //-webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        //clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      }

      & .circle-1 {
        transform: rotate(360deg);
      }

      & .circle-2 {
        transform: rotate(-360deg);
      }
    }

    @screen xs {
      width: 250px;
    }

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &__overlay {
    @apply .absolute .pin-t .pin-l .w-full .h-full .z-10;
    //background-color: rgba(174, 56, 51, 0.60);
    //background-color: rgba(174, 56, 51, 1);
    //background-color: #b12019;

    //opacity: 0.9;

    opacity: 0.5;
    //background-image: url("../images/common/video-thumbnails/img_the_easiest_way.jpg");
    //background-repeat: no-repeat;
    //background-position: left center;
    //background-size: 100% 100%;

    //&::after {
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  width: 100%;
    //  height: 100%;
    //  opacity: 0.3;
    //  background-image: url("../images/common/video-thumbnails/img_the_easiest_way.jpg");
    //  background-repeat: no-repeat;
    //  background-position: left center;
    //  background-size: 100% 100%;
    //}

    //-webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
    //clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);

    //-webkit-transition: all 0.5s ease;
    //-moz-transition: all 0.5s ease;
    //-o-transition: all 0.5s ease;
    //transition: all 0.5s ease;

    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }

  &__inner {
    @apply .absolute .pin-t .pin-l .w-full .h-full .z-50;
    @apply .flex .flex-col .justify-between .px-6 .py-4 .h-full;
    //background-color: rgba(174, 56, 51, 0.60);
    background-color: rgba(193, 46, 40, 0.9);
  }

  &__title {
    @apply .font-medium .text-sm .text-white .tracking-wide;
  }

  &__play-ico {
    @apply .relative;
    width: 61px;
    height: 61px;
    background: transparent url(../images/svg/ico-play.svg) no-repeat left center;
    background-size: 100% 100%;

    & .circle-1, & .circle-2 {
      position: absolute;
      box-sizing: border-box;
      width: 67px;
      height: 67px;
      top: -3px;
      left: -3px;
      border-width: 1px;
      border-style: solid;
      border-color: #fff #fff #fff transparent;
      border-radius: 50%;
      transition: all 1.5s ease-in-out;
    }
    & .circle-2 {
      width: 73px;
      height: 73px;
      top: -6px;
      left: -6px;
      border-color: #fff transparent #fff #fff;
    }
  }

  @screen xl {
    @apply .relative;
    top: 0;
  }

  @screen lg {
    @apply .block;
    & .card {
      @apply .inline-block;
    }
  }
}

.js-mobile-slider {
  @screen lg {
    @apply .hidden;
  }
}

.mirror-block {
  .mirror-block__container {
    @apply .mx-auto .relative .flex .justify-between .items-center .pt-18 .pb-30;
    @extend .section-container;

    @screen lg {
      @apply .pt-12 .pb-15;
    }

    @screen md {
      @apply .flex-col;
    }
  }

  &--inverse {
    @apply .bg-grey-lighter;
  }

  .mirror-block__title-mobile {
    @apply .hidden .mb-8;
    @extend .heading, .heading--md, .text-underline;

    @screen md {
      @apply .block;
      order: 1;
    }
  }

  .mirror-block__img {
    @screen md {
      @apply .w-3/5 .mb-8;
      order: 2;
    }

    @screen sm {
      @apply .w-3/4;
    }
  }

  .mirror-block__body {
    @apply .w-2/5;

    &__title {
      @apply .mb-12;
      @extend .heading, .heading--md, .text-underline;

      @screen lg {
        @apply .mb-8;
      }

      @screen md {
        @apply .hidden;
      }
    }

    & .paragraph {
      @screen md {
        @apply .text-center;
      }
    }

    @screen lg {
      width: 45%;
    }

    @screen md {
      @apply .w-5/6;
      order: 3;
    }

    @screen sm {
      @apply .w-full;
    }
  }
}

.language-selector {
  & .nav__link {
    @apply .pr-0 .text-base .uppercase;
  }

  & .nav__link__arrow {
    @apply .ml-1;
  }

  @screen lg {
    @apply .mb-0;
    //padding: 5px 20px 5px;
  }
}

//.language-selector {
//  &__control {
//    @apply .block .appearance-none .w-full .bg-transparent .px-3 .py-2 .pr-5;
//
//    & option {
//      color: #000;
//    }
//  }
//
//  &__arrow {
//    @apply .pointer-events-none .absolute .pin-r .mr-2;
//    @extend .nav__link__arrow;
//    top: calc(50% - 4px);
//  }
//
//  .main-header--transparent &__arrow {
//    border-top: 7px solid config("colors.white");
//  }
//}

.badge {
  @apply .inline-block .py-1 .px-4 .bg-white .border .border-grey .rounded-lg .align-middle;
  //@apply .inline-block .py-1 .px-4 .my-2 .bg-white;
  @extend .info-text;

  &--default {
    @extend .info-text--alt;
  }

  &--info {
    // Orange light / Best
    //@apply .bg-orange-lightest .border-orange-dark .text-orange-dark .font-semibold;
    // Yellow light
    //@apply .bg-yellow-lightest .border-yellow-dark .text-yellow-dark .font-semibold;

    // Orange borderless / Best
    @apply .border-0 .text-white .font-semibold .uppercase;
    background-color: rgba(255, 120, 0, .9);
    // Yellow light almost transparent
    //@apply .bg-yellow-lighter .border-0 .text-yellow-dark .font-semibold;
    // Orange dark
    //@apply .bg-orange-lighter .border-reddish .text-reddish .font-semibold;
  }
}

// Hide Crisp chat
.crisp-client {
  @apply .hidden;
}

.notification-group {
  @apply .fixed .flex .z-500;

  -webkit-transform: translateZ(200px);
  transform: translateZ(200px);

  &.right-corner {
    right: 48px;
    bottom: 35px;

    @screen md {
      right: 20px;
    }
  }
}

.notification {
  @apply .border-2 .border-yellow-dark .bg-white .rounded-full .shadow-grey-shifted .z-500;

  &__wrap {
    @apply .block .flex .items-start .py-1 .no-underline;
  }

  &__body {
    @apply .font-medium .text-black .tracking-wide .pl-6;

    @screen xs {
      @apply .pr-6;
    }
  }

  &__img {
    @apply .rounded-full .mx-1 .flex-no-shrink;
    @extend .bg-red-gradient;
    width: 49px;
    height: 49px;
  }

  &.airDrop-notify {
    @apply .fixed;
    left: 48px;
    bottom: 35px;
    max-width: 215px;
    box-shadow: 0 0 0 0 rgba(242,208,36, 0.5);

    -webkit-transform: translateZ(200px);
    transform: translateZ(200px);

    & .notification__img {
      background-image: url("../images/common/ico_airdrop.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 49px 49px;

      @screen xs {
        @apply .hidden;
      }
    }

    &:hover {
      -webkit-animation: none;
    }

    @screen md {
      left: 20px;
    }
    @screen xs {
      max-width: 180px;
    }

    //-webkit-animation: shadowPulse 1.5s infinite;
    -webkit-animation: shadowPulse 2.5s infinite;
  }

  &.telegram-support {
    @apply .shadow-grey-shifted;
    //right: 100px;
    //bottom: 38px;
    cursor: pointer;
    //-webkit-transform: translateZ(200px);
    //transform: translateZ(200px);
    max-width: 185px;

    &:hover {
      & .notification__body {
        @apply .block;
      }

      @screen xs {
        & .notification__body {
          @apply .hidden;
        }
      }
    }

    & .notification__body {
      @apply .hidden;
    }

    & .notification__img {
      width: 48px;
      height: 48px;
      background-image: url("../images/common/ico-telegram.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 100% 100%;
    }

    //@screen sm {
    //  right: 20px;
    //  bottom: 115px;
    //}
  }
}

#cv-dot-waves {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
