
// Exo
@font-face {
  font-family: 'Exo';
  src: url('../fonts/Exo/Exo-Regular.woff2') format('woff2'),
  url('../fonts/Exo/Exo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('../fonts/Exo/Exo-Bold.woff2') format('woff2'),
  url('../fonts/Exo/Exo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('../fonts/Exo/Exo-Medium.woff2') format('woff2'),
  url('../fonts/Exo/Exo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

// Exo 2
@font-face {
  font-family: 'Exo-2';
  src: url('../fonts/Exo_2/Exo2-Regular.woff2') format('woff2'),
  url('../fonts/Exo_2/Exo2-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo-2';
  src: url('../fonts/Exo_2/Exo2-Bold.woff2') format('woff2'),
  url('../fonts/Exo_2/Exo2-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Exo-2';
  src: url('../fonts/Exo_2/Exo2-Medium.woff2') format('woff2'),
  url('../fonts/Exo_2/Exo2-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
